<section id="dashboard-container">
    <div>
        <h1>Welcome to your new adventure, {{name}}!</h1>
        <h2>A welcome email has been sent to your email.</h2>
        <p>Take a look around, your next trip awaits!</p>
    </div>
    <div>
        <img src="/img/dashboard.jpg">
        <img src="/img/dashboard2.jpg">
        <img src="/img/dashboard3.jpg">
    </div>
</section>